name: Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
        - README.md

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 8
      - name: Deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3
        with:
          packageManager: pnpm
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
            NOTIFY_CHANNEL
        env:
          NOTIFY_CHANNEL: ${{ secrets.NOTIFY_CHANNEL }}